
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.btn {
  &.btn-link {
    &.btn-delete {
      margin-top: -5px;
      padding: 0 0px 0px;
      color: saturate(theme-color("danger"), 30%);
    }
  }

  &.btn-plain {
    &:hover, &:focus {
      color: theme-color("primary");
      border: 1px solid lighten(theme-color("primary"), 30%);
      background-color: transparent !important;
    }
  }
}

.inline {
  display: inline;
}

.font-sm {
  font-size: $font-size-sm;
}

footer {
  @extend .font-sm;

  padding-top: 10em;
}

h1 {
  > small {
    font-size: $h1-font-size * .5;
    color: $text-muted;
  }
}